In [113]:
import pandas as pd
import glob
import os
import sqlite3

In [89]:
tabenergia = pd.read_csv("energia.csv")
diction = {"Valle d'Aosta / Vallée d'Aoste" : "Valle_Aosta",
           "Trentino Alto Adige / Südtirol" : "Trentino Alto Adige",
           "Provincia Autonoma Bolzano / Bozen" : "Bolzano"}
tabenergia = tabenergia.replace({"Territorio" : diction})
terri = tabenergia["Territorio"].unique().tolist()
terri

['Italia',
 'Nord-ovest',
 'Piemonte',
 'Valle_Aosta',
 'Liguria',
 'Lombardia',
 'Nord-est',
 'Trentino Alto Adige',
 'Bolzano',
 'Provincia Autonoma Trento',
 'Veneto',
 'Friuli-Venezia Giulia',
 'Emilia-Romagna',
 'Centro',
 'Toscana',
 'Umbria',
 'Marche',
 'Lazio',
 'Mezzogiorno',
 'Abruzzo',
 'Molise',
 'Campania',
 'Puglia',
 'Basilicata',
 'Calabria',
 'Sicilia',
 'Sardegna']

In [90]:
tabenergia

,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,42302968.0,NaN,NaN
1,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,1694455.0,NaN,NaN
2,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,2437978.0,NaN,NaN
3,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,15035032.0,NaN,NaN
4,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,21080936.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
296,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,H_OIL,gasolio,2013,2013,1137.0,NaN,NaN
297,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,382.0,NaN,NaN
298,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,753.0,NaN,NaN
299,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,470.0,NaN,NaN
300,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,418.0,NaN,NaN

In [91]:
terr =  tabenergia['Territorio'].unique()

In [92]:
terr

array(['Italia', 'Nord-ovest', 'Piemonte', 'Valle_Aosta', 'Liguria',
       'Lombardia', 'Nord-est', 'Trentino Alto Adige', 'Bolzano',
       'Provincia Autonoma Trento', 'Veneto', 'Friuli-Venezia Giulia',
       'Emilia-Romagna', 'Centro', 'Toscana', 'Umbria', 'Marche', 'Lazio',
       'Mezzogiorno', 'Abruzzo', 'Molise', 'Campania', 'Puglia',
       'Basilicata', 'Calabria', 'Sicilia', 'Sardegna'], dtype=object)

In [93]:
for e in terr:
    print(e)

Italia
Nord-ovest
Piemonte
Valle_Aosta
Liguria
Lombardia
Nord-est
Trentino Alto Adige
Bolzano
Provincia Autonoma Trento
Veneto
Friuli-Venezia Giulia
Emilia-Romagna
Centro
Toscana
Umbria
Marche
Lazio
Mezzogiorno
Abruzzo
Molise
Campania
Puglia
Basilicata
Calabria
Sicilia
Sardegna

In [95]:
for e in terr:
    tabenergia[tabenergia['Territorio'] == e].to_csv(f'csv_regioni/{e}.csv')

In [112]:
pip install openpyxl

SyntaxError: invalid syntax (1224309677.py, line 1)

In [104]:
for e in terr:
    tabenergia[tabenergia['Territorio'] == e].to_excel(f'xlsx_regione/{e}.xlsx')

In [110]:
files = os.path.join("xlsx_regione/","*.xlsx")
files = glob.glob(files)
df = pd.concat(map(pd.read_excel,files), ignore_index= True,)
df.to_csv("totale1.csv", sep= ";",index = False)

In [111]:
df

,Unnamed: 0,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,215,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,899437.0,NaN,NaN
1,216,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,NaN,n,dato statisticamente non significativo (vedasi...
2,217,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,42889.0,NaN,NaN
3,218,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,310286.0,NaN,NaN
4,219,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,458222.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
296,122,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,721.0,NaN,NaN
297,123,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,624.0,NaN,NaN
298,124,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,METAN,metano,2013,2013,1104.0,NaN,NaN
299,125,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,435.0,NaN,NaN
300,126,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,524.0,NaN,NaN

In [133]:
files = os.path.join("csv_regioni/", "*.csv")

files = glob.glob(files)

li = []
for filename in files:
    df = pd.read_csv(filename, sep=';', index_col=None, header=0)
    li.append(df)
df = pd.concat(li, axis=0, ignore_index=True)
df.to_csv("totale2.csv",sep=";",index=False)
df

    ,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0    215,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle fam...
1    216,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle fam...
2    217,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle fam...
3    218,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle fam...
4    219,ITF1,Abruzzo,ENER_SOUR_EXP,spese delle fam...
..                                                 ...
296  122,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media e...
297  123,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media e...
298  124,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media e...
299  125,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media e...
300  126,ITD3,Veneto,ENER_SOUR_EXP_AV,spesa media e...

[301 rows x 1 columns]

In [114]:
def populate_sqlite_from_csv(file,database_file,tablename):
    df = pd.read_csv(file)
    conn = sqlite3.connect(database_file)
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    conn.close()

def populate_sqlite_from_df(df, database_file,tablename): 
    conn = sqlite3.connect(database_file)
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    conn.close()

populate_sqlite_from_csv("energia.csv","test.db","energia")

In [124]:
tabanag= pd.read_excel("anagrafica.xlsx")
tabanag

,ragione_sociale,partita_iva,codice_fiscale
0,COSCO SHIPPING LINES (ITALY) S.R.L.,1545620997,1545620997
1,CONFARTIGIANATO TORINO SERVIZI PER LE IMPRESE ...,9055130018,9055130018
2,MA.RE.TO 77 S.R.L.,12216370010,96684430018
3,OFFICINE METALMECCANICHE LAZIALI S.R.L. IN SIG...,2156300598,2156300598
4,ELIABRUZZO - S.R.L.,1430240695,1430240695
...,...,...,...
395,ALIARA VINI SOCIETA' AGRICOLA S.R.L. ALIARA SO...,3541160549,3541160549
396,ALICA SOCIETA' COOPERATIVA AGRICOLA,3015810603,3015810603
397,ALLEANZA AGRICOLA SOCIETA' COOPERATIVA,2155190982,2155190982
398,ALLEVAMENTI & PODERI PADANI SOCIETA' AGRICOLA ...,1655970190,1655970190
399,ALLEVAMENTI AURORA SOCIETA' AGRICOLA COOPERATI...,605890045,605890045

In [134]:
pd.read_json('alpha.json')

,correlationId,report,companyId,dateOfOrder,language,userId
alternateSummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'province': 'FERRARA', 'vatRegistrationNumber...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companyId,8da7f88f-9163-4709-b1e5-65ba4de9aaad,IT-0-FE97207,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companySummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'businessName': 'ALPHA S.R.L.', 'country': 'I...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
creditScore,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'currentCreditRating': {'commonValue': 'B', '...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
extendedGroupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'id': 'IT-0-AT76661', 'country': 'IT', 'safe...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
financialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'GlobalFinancialsGGS', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
groupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'ultimateParent': {'country': 'IT', 'id': 'IT...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
language,8da7f88f-9163-4709-b1e5-65ba4de9aaad,EN,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
localFinancialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'LocalFinancialsCSIT', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
otherInformation,8da7f88f-9163-4709-b1e5-65ba4de9aaad,{'employeesInformation': [{'numberOfEmployees'...,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668

In [142]:
SHEET_ID = '182ztuuM6xYvxW7PcrUeAT6jVuudQ_lBt96bUGVdVdIs'
SHEET_NAME = 'prova1'
foglio_id=0

url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}/edit#gid={foglio_id}'
df = pd.read_csv(url)
df

   colonna 1  colonna 2
0          1          4
1          2          5
2          3          3
3          7          7
4          5          2
5          6          9
6          7         20